.container_table {
	width: 100%;
	position: sticky;
	top: 55px;
	z-index: 4;
	background: rgba(23, 23, 23, 0.1);
	backdrop-filter: blur(33.5px);
}
.wrapper_table {
	width: 100%;
	margin: 0 auto;
	max-width: 463px;
	padding: 16px;
	overflow-x: auto;
}
.status_container h2,
.status_container p {
	text-align: center;
	font-weight: 400;
}
.status_container p {
	margin-top: 12px;
	color: var(--grey-400);
}
.button {
	width: 100%;
	max-width: 366px;
	margin: 16px auto 0;
	justify-content: center;
	padding: 14px 14px;
	border-radius: 14px;
	font-size: 17px;
	font-weight: 600;
}
.champion_container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.champion_container img {
	margin-top: 12px;
}
.body {
	position: relative;
	z-index: 2;
}
.bg_gradient {
	position: fixed;
	width: 100%;
	height: 100vh;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.body_finished {
	position: relative;
	display: block;
	min-height: calc(100vh - 333px);
}

.body_finished > details {
	position: relative;
	z-index: 3;
}
.icon_ch {
	display: block;
	position: absolute;
	z-index: 2;
	width: 187px;
	right: -32px;
	bottom: -12px;
	transform: rotate(6.29deg);
}
@media only screen and (max-height: 500px) {
	.wrapper_table {
		padding: 5px 16px;
	}
}
