:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Colors ui */
	--bg-body: #171717;

	--dark-100: #000;
	--dark-200: #121212;
	--dark-400: #171717;
	--dark-500: #252525;

	--grey-100: #6d6d6d;
	--grey-200: #8a8a8a;
	--grey-300: #8E8E93;
	--grey-400: #a2a2a2;
	--grey-500: #bdbdbd;
	--primary: #0a84ff;

	--color-green: #10C868;
	--color-red: #FF453A;
	--color-white: #fff;
	--border-radius-sm: 14px;
	--border-radius-lg: 23px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: var(--bg-body);
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: #fff;
}
button {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
